body {
  font: 12px Helvetica, "microsoft yahei", Arial, sans-serif;
  color: #666;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd {
  margin: 0px;
  padding: 0px;
  border: none;
  list-style: none;
}
input {
  border: none;
}
.lf {
  float: left;
}
.rt {
  float: right;
}
